*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

.container-fluid .navbar-brand{
    color: #CC1100; 
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    margin-left: 70px;
}

.container-fluid .navbar-item{
    color: #CC1100;
}

.container-fluid .nav-link .navlink:hover a{
    color: red;   
}

.produto{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 20px;
}

.produto h1{
    margin-left: 10px;
    
}

.fig{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    justify-content: center;
   
         
}

.descritivo{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
        
}
/*
.descritivo h3{
    font-weight: bolder;
    margin-left: 300px;
    margin-top: 10px;
    
}

.descritivo p{
    text-align: justify;
    margin-left: 0px;
    margin-top: 0px;

}

.btn-ver{
    text-align: right;
    padding: 20px;
}
*/
.categorias p{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    margin-left: 70px;
    padding-top: 160px;
    
}

.categorias h5{
    text-align: center;
    color: #CC1100;    
}

.categorias img{
    place-items: center;
}

.container{
    text-align: center;
}