*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container-fluid .navbar-brand{
    color: #CC1100; 
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    margin-left: 70px;
}

.container-fluid .navbar-item{
    color: #CC1100;
}

.container-fluid .nav-link .navlink:hover a{
    color: red;   
}

.produto h1{
    text-align: center;
    padding: 20px;
}

.figure {
    display: flex;
    margin-left: 70px;     
}

.venda{
    display: block;
    margin-left: 700px;
    margin-right: 100px;
    margin-top: -270px;
    text-align: justify;              
}

.descritivo h3{
    font-weight: bolder;
}

.descritivo p{
    text-align: justify;
}

.btn-ver{
    text-align: right;
    padding: 30px 95px 20px;
}

.categorias p{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    margin-left: 70px;
    
}

.categorias h5{
    text-align: center;
    color: #CC1100;    
}

.categorias img{
    place-items: center;
}

.container{
    text-align: center;
}
